.hide {

	display: none !important;

}

html{

	height: 100%;
	width: 100%;
	margin: 0;
	
}

body{

	display: -webkit-box;
	-webkit-box-orient: vertical;

	height: 100%;
	width: 100%;
	margin: 0;
	
	background: @pageBackground;
	background-size: 50px 50px, auto;
	
	-webkit-transform: translate3d(0,0,0);
	-webkit-user-select: none;
	
}

.scrollview {
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
	width: 100%;
	
}

.scrollview-inner {
	display:block;
	-webkit-box-flex: 1;

	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
	width: 100%;
}

.scrollview-content {

	display:block;
	-webkit-box-flex:1;
	
	position: relative;
	
	overflow: hidden;
	
	width: 100%;
	height: auto;
	
	opacity: 1;
	
	-webkit-transition: opacity 0.2s ease-in-out;
	
	> * {
	
		margin: 20px;
	
	}
	
	.loading & {
	
		opacity: 0;
	
	}
    
}

//Flipping els

.flip-container{
	
	position: relative;
	
	-webkit-perspective: 800px;
	
}

.flippable {
	
	-webkit-transition: all 0.4s ease-in-out;
	
	-webkit-transform-style: preserve-3d;
	
	.flipped & {
	
		position: relative;
		
		-webkit-transform: rotateY(180deg);
		
	}
	
}

.flippable-content {
	
	-webkit-backface-visibility: hidden;
	
	&.front {
	
		position: relative;
		
		-webkit-transform: rotateY(0deg);
		
		z-index: 10;
		
		.flipped & {
		
			position: absolute;
			
			top: 0px;
			
		}
		
	}
	
	&.back {
	
		position: absolute;
		
		top: 0px;
		right: 0px;
		
		-webkit-transform: rotateY(-180deg);
		
		.flipped & {
		
			position: relative;
			
		}
		
	}
	
}


// Loading

/*.loading {

	.spinner {
	
		position: absolute;
		top: 50%;
		left: 50%;
		
		width: 50px;
		height: 50px;
		margin-left: -26px;
		margin-top: -26px;
		
		//.box-shadow(inset 0 1px 0 fade(@white, 80%), 0 1px fade(@white, 60%));
		
		.spinner-inner {
		
			position: relative;
		
			width: 32px;
			height: 32px;
			margin: 9px;
		
			background-position: center center;
			background-repeat: no-repeat;
			
			-webkit-transform: translate3d();
		
		}
		
		span {
		
			position: absolute;
			left: 16px;
			top: 0px;
		
			display: block;
			width: 2px;
			height: 8px;
			opacity: 0.1;
			
			background-color: gray;
			
			border-radius: 2px;
			
			-webkit-transform-origin: center 16px;
			.spinner-mixin(0);
			
			-webkit-animation: spinner-span-anim 1s ease-in-out 0s infinite;
		
		}
	
	}

}

.spinner-mixin(@i) when (@i < 12) {
		@n: @i + 2;
    &:nth-child(@n) {
        -webkit-transform: rotate((@i + 1)*30deg);
        -webkit-animation-delay: (@i + 1)*1/12s;
    }
    .spinner-mixin(@i+1);  // recurse
}

.spinner-mixin(@i) {
    // fallback to "break" the loop and avoid errors for no-match
}

@-webkit-keyframes spinner-span-anim {

	0% { opacity: 1; }
	
	100% { opacity: 0.1; }

}*/

.loading-screen {

	box-sizing: border-box;

	position: absolute;
	top: 50%;
	left: 50%;

	width: 0px;
	height: 0px;
	
	-webkit-transform: translate3d(0, 0, 0);
	
	.icon-rays {
	
		position: absolute;
		top: -200px;
		left: -200px;
	
		width: 400px;
		height: 400px;
		
		-webkit-mask-image: url("../img/loading-mask.png");
		-webkit-mask-size: 100% 100%;
		
		-webkit-animation: loading-ray-anim 6s linear 0s infinite;
		
		//-webkit-animation-timing-function: ;
	}
	
	.ray-color {
	
		width: 100%;
		height: 100%;
		
		background-image: url("../img/color-wheel-no-white.png");
		background-size: cover;
		
		-webkit-animation: loading-color-anim 6s linear 0s infinite;
	
	}

	.icon-overlay {
	
		position: absolute;
		left: -28.5px;
		top: -28.5px;
	
		width: 57px;
		height: 57px;
		
		border-radius: 9px;
		
		&::before {
		
			content: '';
			
			position: absolute;
			top: 0px;
			left: 0px;
			
			width: 100%;
			height: 100%;
			
			border-radius: 9px;
		
			box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.2);
		
		}
	
	}

}

.main-controls {

	text-align: center;
	
}

.main-controls {

	position: relative;

	.btn, .flippable-content {
	
		box-sizing: border-box;
		
		height: 40px;
		padding: 10px;
		
		font-weight: bold;
		color: @gray;
		text-shadow: 0 -1px black;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		
		background: @grayDark;
		background-image: -webkit-linear-gradient(-90deg, hsl(0, 0, 18%) 0%, hsl(0, 0, 14%) 48%, hsl(0, 0, 12%) 52%, hsl(0, 0, 10%) 86%, hsl(0, 0, 14%) 100%);
		
		border: 1px solid hsl(0, 0, 5%);
		border-radius: 8px;
		box-shadow: 0 1px 0px rgba(255,255,255,0.10), inset 0 1px 0px rgba(255,255,255,0.20), inset 0 0 1px rgba(255,255,255,0.10);
	
	}
	
	.btn-flip {
	
		width: 40px;
		padding: 0;
	
		background: none;
		
		border: none;
		box-shadow: none;
		
		-webkit-perspective: 100px;
		
		
		.flipped & .flippable {
		
			position: relative;
			
			-webkit-transform: rotateY(-180deg);
			
		}
	
	}
	
	.flippable-content {
	
		width: 100%;
	
	}
	
	.flippable-content.back {
		
		-webkit-transform: rotateY(180deg);
		
	}
	

}

.btn-picker-switcher {

	display: block;
	
	position: absolute;
	
	right: 0px;
	top: 0px;

}

.btn [class^="icon-"]:before { margin-left: 1px; vertical-align: -1px; }
.icon-white { color: white; }


@-webkit-keyframes loading-ray-anim {

	0% { -webkit-transform: scale(0.4) rotate(360deg); }
	
	10% { -webkit-transform: scale(0.5) rotate(324deg); }
	
	40% { -webkit-transform: scale(0.9) rotate(216deg); }
	
	50% { -webkit-transform: scale(1) rotate(180deg); }
	
	60% { -webkit-transform: scale(0.9) rotate(144deg); }
	
	90% { -webkit-transform: scale(0.5) rotate(36deg); }
	
	100% { -webkit-transform: scale(0.4) rotate(0deg); }

}

@-webkit-keyframes loading-color-anim {

	0% { -webkit-transform: rotate(0deg); }
	
	10% { -webkit-transform: rotate(20deg); }
	
	20% { -webkit-transform: rotate(80deg); }
	
	30% { -webkit-transform: rotate(100deg); }
	
	40% { -webkit-transform: rotate(140deg); }
	
	50% { -webkit-transform: rotate(200deg); }
	
	60% { -webkit-transform: rotate(220deg); }
	
	70% { -webkit-transform: rotate(270deg); }
	
	80% { -webkit-transform: rotate(290deg); }
	
	90% { -webkit-transform: rotate(300deg); }
	
	100% { -webkit-transform: rotate(360deg); }

}

@-webkit-keyframes pulse {

	from { -webkit-transform: scale(1); }
	
	30% { -webkit-transform: scale(2.0); }
	
	to { -webkit-transform: scale(1); }
	
}