//FIX: Clean up

.wheel-container {
	
	position: relative;
	
}

.wheel {

	position: relative;
	
	padding: 10px;
	margin-bottom: 20px;
	
	line-height: 0px;
	
	background-size: 100% 100%;
	
	background-repeat: no-repeat;
	border-radius: 300px;
	
	box-shadow: inset 0 -10px 10px -10px hsla(0, 0%, 0%, 0.5), inset 0 30px 30px -20px hsla(0, 0%, 0%, 0.4), inset 0 20px 20px -15px hsla(0, 0%, 0%, 0.7), inset 0 0 10px hsla(0, 0%, 0%, 0.2);
	
}

.wheel img {

	position: relative;
	
	border-radius: 300px;
	
	width: 100%;
	height: auto;
	
}

.wheel::before {
	
	content: '';
	z-index: -1;
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	background: -webkit-gradient(linear, left top, left bottom, from(hsl(0, 0%, 20%)), to(hsl(0, 0%, 15%)));
	
	border: 2px solid hsl(0, 0%, 10%);
	border-radius: 310px;
	
	box-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3), inset 0 1px 1px hsla(0, 0%, 100%, 0.7);
	
}

.picker {

	z-index: 10;

	position: absolute;
	top: 10px;
	
	width: 80px;
	height: 80px;
	margin-right: -40px;
	
	background-color: black;
	background-image: -webkit-linear-gradient(top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2)), -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.2));
	
	border: 4px hsl(0, 0%, 20%) solid;
	border-radius: 60px;
	
	box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.7), inset 0 -1px 2px hsla(0, 0%, 0%, 0.1), 0 2px 6px hsla(0, 0%, 0%, 0.8), 0 -1px hsl(0, 0%, 80%), 0 1px hsl(0, 0%, 40%);
	
	-webkit-transition: width 0.1s ease-in-out;
	-webkit-transition-property: margin, width, height;
	
}

.picker.picking {

	margin-left: -10px;
	margin-top: -10px;
	
	width: 100px;
	height: 100px;
	box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.7), inset 0 -1px 2px hsla(0, 0%, 0%, 0.1), 0 15px 20px hsla(0, 0%, 0%, 0.6), 0 -1px hsl(0, 0%, 80%), 0 1px hsl(0, 0%, 40%);
	
}

.value-slider {

	-webkit-appearance: none;
	box-sizing: border-box;
	
	width: 100%;
	height: 20px;
	
	background: -webkit-linear-gradient(left, hsl(0, 0, 20%), hsl(0, 0, 80%));
	
	border: 1px solid hsl(0, 0, 5%);
	border-radius: 20px;
	box-shadow: 0 1px 0px rgba(255,255,255,0.20), 0 -1px 1px rgba(255,255,255,0.05), inset 0 1px 1px 1px rgba(0, 0, 0, 0.4), inset 0 0 1px 1px rgba(0, 0, 0, 0.10);
	
}

.value-slider::-webkit-slider-thumb {

	-webkit-appearance: none;
	
	width: 60px;
	height: 60px;
	
	background: @grayDark;
	background-image: -webkit-linear-gradient(-90deg, hsl(0, 0, 30%) 0%, hsl(0, 0, 25%) 48%, hsl(0, 0, 23%) 52%, hsl(0, 0, 18%) 86%, hsl(0, 0, 22%) 100%);
	
	border: 1px solid hsl(0, 0, 5%);
	border-radius: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.80), inset 0 1px 0px rgba(255,255,255,0.30), inset 0 0 1px rgba(255,255,255,0.20);
	
}