.favorite-color-item {
	
	display: inline-block;
	box-sizing: border-box;
	
	position: relative;

	width: 61px;
	height: 61px;
	
	margin-bottom: 12px;
	margin-right: 12px;
	
	background-image: -webkit-linear-gradient(top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2)), -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.2));
	
	border: 4px solid hsl(0, 0, 20%);
	border-radius: 8px;
	box-shadow: 0 0 0 1px hsl(0, 0, 5%), 0 1px 0 1px fade(@white, 10%), inset 0 1px 0 fade(@white, 30%), inset 0 1px 2px fade(@white, 40%), inset 0 -1px 0 fade(@black, 40%);
	
	&:nth-child(4n) {
	
		margin-right: 0;
	
	}
	
	&.active {
	
		border-color: hsl(0, 0, 100%);
	
	}

}

.favorite-color-item-pick-btn {

	display: block;

	position: absolute;
	top: -6px;
	left: -6px;
	right: -6px;
	bottom: -6px;
	
	padding: 0;
	
	background: none;
	
	border: none;

}

.favorite-color-item-remove-btn {

	display: block;

	position: absolute;
	top: -10px;
	right: -10px;
	
	width: 21px;
	height: 21px;
	
	padding: 0;
	
	line-height: 21px;
	
	background: black;
	
	border: 2px solid hsl(0, 0, 100%);
	border-radius: 20px;
	box-shadow: 0 1px 4px fade(@black, 60%);
	
	-webkit-animation: remove-btn-in 0.1s ease-out backwards;
	
	.favorite-colors:not(.editing) & {
	
		display: none;
	
	}

}

@-webkit-keyframes remove-btn-in {
  from {
  	-webkit-transform: scale(0);
  }
  to {
  	-webkit-transform: scale(1);
  }
}