input[type='range'] {

	-webkit-appearance: none;
	padding-left:2px; padding-right:2px;
	border-radius: 45px;
	-webkit-border-radius: 45px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0.1));
	-webkit-box-shadow: 0px 2px 0px rgba(255,255,255,0.8), inset 0px 20px 40px rgba(0,0,0,0.4), inset 0px 5px 10px rgba(0,0,0,0.4);
	height: 84px;
	overflow: hidden;
	
}

input[type="range"]::-webkit-slider-thumb {

	-webkit-appearance: none;
	position: relative;
	width: 80px;
	height: 80px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	border-style: solid;
	border-width: 2px;
	border-color: #777777;
	background-image: -webkit-linear-gradient(bottom, #FFFFFF, #BBBBBB);
	-webkit-box-shadow: 10px 0px 20px rgba(0,0,0,0.2), 3px 0px 10px rgba(0,0,0,0.2);
	
}