//Tab container

.tab-wrapper {

	-webkit-transition: opacity 0.2s ease-in-out;
	
	.loading & {
	
		opacity: 0;
	
	}
	
}

//Tabs

.tab {
	
	padding: 20px 20px 0;
	
}

.tab-flippable {
	
	padding: 0;
	
}

.tab-flip-container {

	padding: 0;
	
	background: @black;

}

.tab-flippable-content {
	
	padding: 20px 20px 0;
	
	background: @pageBackground;
	
}

.btn-tab-flip {
	
	position: absolute;
	z-index: 10;
	
	top: 10px;
	right: 10px;
	
	border: none;
	
	-webkit-perspective: 100px;
	
	.flippable {
		
		width: 40px;
		height: 40px;
		
		font-weight: bold;
		color: hsl(0, 0%, 25%);
		
		background-color: hsl(0, 0%, 15%);
		
		border: none;
		border-radius: 10px;
		box-shadow: 0px 1px 0 hsla(0, 0%, 100%, 0.1), inset 0px 1px 0 hsla(0, 0%, 0%, 0.2);
		
	}
	
	.flippable-content {
		
		width: 20px;
		height: 20px;
		padding: 10px;
		
		line-height: 20px;
		
	}
	
	.flippable-content.back {
		
		-webkit-transform: rotateY(180deg);
		
	}
	
	&.flipped .flippable {
	
		position: relative;
		
		-webkit-transform: rotateY(-180deg);
		
	}
	
}

//Tab bar

.tab-bar {

	-webkit-box-flex:0;
	
	height: 48px;
	
	text-align: center;
	
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 10%), hsl(0, 0%, 5%) 50%, hsl(0, 0%, 2%) 50%, hsl(0, 0%, 4%));
	
	border-top: 1px solid black;
	box-shadow: inset 0 1px 0 hsl(0, 0%, 20%);
	
	.loading & {
	
		opacity: 0;
	
	}
	
}

.tab-bar-item {

	display: inline-block;

	width: 64px;
	height: 100%;
	
	color: @grayDark;
	
	background: none;
	
	border: none;
	border-left: 1px solid @black;
	border-right: 1px solid @black;
	box-shadow: inset 1px 0 0 fade(@white, 10%);
	
	&:last-child {
	
		border-left: none;
		box-shadow: inset 1px 0 0 fade(@white, 10%), 1px 0 0 fade(@white, 10%);
	
	}

}