//
//  variables.less
//  Remote less variable file
//

//Colors
@black: #000;
@white: #fff;

@gray: hsl(0, 0%, 50%);
@grayDark: hsl(0, 0%, 30%);
@grayDarker: hsl(0, 0%, 10%);


@pageBackground: url('../img/bg-noise@2x.png'), -webkit-linear-gradient(top, hsl(0, 0%, 20%), hsl(0, 0%, 10%));