@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons/glyphiconshalflings-regular.eot');
  src: url('../fonts/glyphicons/glyphiconshalflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons/glyphiconshalflings-regular.woff') format('woff'), url('../fonts/glyphicons/glyphiconshalflings-regular.ttf') format('truetype'), url('../fonts/glyphicons/glyphiconshalflings-regular.svg#glyphicons_halflingsregular') format('svg');
  font-style: normal;
  font-weight: normal;
}
[class^="icon-"]:before,
[class*="icon-"]:before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.icon-glass:before {
  content: "\e001";
}
.icon-music:before {
  content: "\e002";
}
.icon-search:before {
  content: "\e003";
}
.icon-envelope:before {
  content: "\2709";
}
.icon-heart:before {
  content: "\e005";
}
.icon-star:before {
  content: "\e006";
}
.icon-star-empty:before {
  content: "\e007";
}
.icon-user:before {
  content: "\e008";
}
.icon-film:before {
  content: "\e009";
}
.icon-th-large:before {
  content: "\e010";
}
.icon-th:before {
  content: "\e011";
}
.icon-th-list:before {
  content: "\e012";
}
.icon-ok:before {
  content: "\e013";
}
.icon-remove:before {
  content: "\e014";
}
.icon-zoom-in:before {
  content: "\e015";
}
.icon-zoom-out:before {
  content: "\e016";
}
.icon-off:before {
  content: "\e017";
}
.icon-signal:before {
  content: "\e018";
}
.icon-cog:before {
  content: "\e019";
}
.icon-trash:before {
  content: "\e020";
}
.icon-home:before {
  content: "\e021";
}
.icon-file:before {
  content: "\e022";
}
.icon-time:before {
  content: "\e023";
}
.icon-road:before {
  content: "\e024";
}
.icon-download-alt:before {
  content: "\e025";
}
.icon-download:before {
  content: "\e026";
}
.icon-upload:before {
  content: "\e027";
}
.icon-inbox:before {
  content: "\e028";
}
.icon-play-circle:before {
  content: "\e029";
}
.icon-repeat:before {
  content: "\e030";
}
.icon-refresh:before {
  content: "\e031";
}
.icon-list-alt:before {
  content: "\e032";
}
.icon-lock:before {
  content: "\e033";
}
.icon-flag:before {
  content: "\e034";
}
.icon-headphones:before {
  content: "\e035";
}
.icon-volume-off:before {
  content: "\e036";
}
.icon-volume-down:before {
  content: "\e037";
}
.icon-volume-up:before {
  content: "\e038";
}
.icon-qrcode:before {
  content: "\e039";
}
.icon-barcode:before {
  content: "\e040";
}
.icon-tag:before {
  content: "\e041";
}
.icon-tags:before {
  content: "\e042";
}
.icon-book:before {
  content: "\e043";
}
.icon-bookmark:before {
  content: "\e044";
}
.icon-print:before {
  content: "\e045";
}
.icon-camera:before {
  content: "\e046";
}
.icon-font:before {
  content: "\e047";
}
.icon-bold:before {
  content: "\e048";
}
.icon-italic:before {
  content: "\e049";
}
.icon-text-height:before {
  content: "\e050";
}
.icon-text-width:before {
  content: "\e051";
}
.icon-align-left:before {
  content: "\e052";
}
.icon-align-center:before {
  content: "\e053";
}
.icon-align-right:before {
  content: "\e054";
}
.icon-align-justify:before {
  content: "\e055";
}
.icon-list:before {
  content: "\e056";
}
.icon-indent-left:before {
  content: "\e057";
}
.icon-indent-right:before {
  content: "\e058";
}
.icon-facetime-video:before {
  content: "\e059";
}
.icon-picture:before {
  content: "\e060";
}
.icon-pencil:before {
  content: "\270f";
}
.icon-map-marker:before {
  content: "\e062";
}
.icon-adjust:before {
  content: "\e063";
}
.icon-tint:before {
  content: "\e064";
}
.icon-edit:before {
  content: "\e065";
}
.icon-share:before {
  content: "\e066";
}
.icon-check:before {
  content: "\e067";
}
.icon-move:before {
  content: "\e068";
}
.icon-step-backward:before {
  content: "\e069";
}
.icon-fast-backward:before {
  content: "\e070";
}
.icon-backward:before {
  content: "\e071";
}
.icon-play:before {
  content: "\e072";
}
.icon-pause:before {
  content: "\e073";
}
.icon-stop:before {
  content: "\e074";
}
.icon-forward:before {
  content: "\e075";
}
.icon-fast-forward:before {
  content: "\e076";
}
.icon-step-forward:before {
  content: "\e077";
}
.icon-eject:before {
  content: "\e078";
}
.icon-chevron-left:before {
  content: "\e079";
}
.icon-chevron-right:before {
  content: "\e080";
}
.icon-plus-sign:before {
  content: "\e081";
}
.icon-minus-sign:before {
  content: "\e082";
}
.icon-remove-sign:before {
  content: "\e083";
}
.icon-ok-sign:before {
  content: "\e084";
}
.icon-question-sign:before {
  content: "\e085";
}
.icon-info-sign:before {
  content: "\e086";
}
.icon-screenshot:before {
  content: "\e087";
}
.icon-remove-circle:before {
  content: "\e088";
}
.icon-ok-circle:before {
  content: "\e089";
}
.icon-ban-circle:before {
  content: "\e090";
}
.icon-arrow-left:before {
  content: "\e091";
}
.icon-arrow-right:before {
  content: "\e092";
}
.icon-arrow-up:before {
  content: "\e093";
}
.icon-arrow-down:before {
  content: "\e094";
}
.icon-share-alt:before {
  content: "\e095";
}
.icon-resize-full:before {
  content: "\e096";
}
.icon-resize-small:before {
  content: "\e097";
}
.icon-plus:before {
  content: "\002b";
}
.icon-minus:before {
  content: "\2212";
}
.icon-asterisk:before {
  content: "\002a";
}
.icon-exclamation-sign:before {
  content: "\e101";
}
.icon-gift:before {
  content: "\e102";
}
.icon-leaf:before {
  content: "\e103";
}
.icon-fire:before {
  content: "\e104";
}
.icon-eye-open:before {
  content: "\e105";
}
.icon-eye-close:before {
  content: "\e106";
}
.icon-warning-sign:before {
  content: "\e107";
}
.icon-plane:before {
  content: "\e108";
}
.icon-calendar:before {
  content: "\e109";
}
.icon-random:before {
  content: "\e110";
}
.icon-comment:before {
  content: "\e111";
}
.icon-magnet:before {
  content: "\e112";
}
.icon-chevron-up:before {
  content: "\e113";
}
.icon-chevron-down:before {
  content: "\e114";
}
.icon-retweet:before {
  content: "\e115";
}
.icon-shopping-cart:before {
  content: "\e116";
}
.icon-folder-close:before {
  content: "\e117";
}
.icon-folder-open:before {
  content: "\e118";
}
.icon-resize-vertical:before {
  content: "\e119";
}
.icon-resize-horizontal:before {
  content: "\e120";
}
.icon-hdd:before {
  content: "\e121";
}
.icon-bullhorn:before {
  content: "\e122";
}
.icon-bell:before {
  content: "\e123";
}
.icon-certificate:before {
  content: "\e124";
}
.icon-thumbs-up:before {
  content: "\e125";
}
.icon-thumbs-down:before {
  content: "\e126";
}
.icon-hand-right:before {
  content: "\e127";
}
.icon-hand-left:before {
  content: "\e128";
}
.icon-hand-up:before {
  content: "\e129";
}
.icon-hand-down:before {
  content: "\e130";
}
.icon-circle-arrow-right:before {
  content: "\e131";
}
.icon-circle-arrow-left:before {
  content: "\e132";
}
.icon-circle-arrow-up:before {
  content: "\e133";
}
.icon-circle-arrow-down:before {
  content: "\e134";
}
.icon-globe:before {
  content: "\e135";
}
.icon-wrench:before {
  content: "\e136";
}
.icon-tasks:before {
  content: "\e137";
}
.icon-filter:before {
  content: "\e138";
}
.icon-briefcase:before {
  content: "\e139";
}
.icon-fullscreen:before {
  content: "\e140";
}
.icon-dashboard:before {
  content: "\e141";
}
.icon-paperclip:before {
  content: "\e142";
}
.icon-heart-empty:before {
  content: "\e143";
}
.icon-link:before {
  content: "\e144";
}
.icon-phone:before {
  content: "\e145";
}
.icon-pushpin:before {
  content: "\e146";
}
.icon-euro:before {
  content: "\20ac";
}
.icon-usd:before {
  content: "\e148";
}
.icon-gbp:before {
  content: "\e149";
}
.icon-sort:before {
  content: "\e150";
}
.icon-sort-by-alphabet:before {
  content: "\e151";
}
.icon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.icon-sort-by-order:before {
  content: "\e153";
}
.icon-sort-by-order-alt:before {
  content: "\e154";
}
.icon-sort-by-attributes:before {
  content: "\e155";
}
.icon-sort-by-attributes-alt:before {
  content: "\e156";
}
.icon-unchecked:before {
  content: "\e157";
}
.icon-expand:before {
  content: "\e158";
}
.icon-collapse:before {
  content: "\e159";
}
.icon-collapse-top:before {
  content: "\e160";
}
.hide {
  display: none !important;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 100%;
  width: 100%;
  margin: 0;
  background: url('../img/bg-noise@2x.png'), -webkit-linear-gradient(top, #333333, #1a1a1a);
  background-size: 50px 50px, auto;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
}
.scrollview {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.scrollview-inner {
  display: block;
  -webkit-box-flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.scrollview-content {
  display: block;
  -webkit-box-flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
}
.scrollview-content > * {
  margin: 20px;
}
.loading .scrollview-content {
  opacity: 0;
}
.flip-container {
  position: relative;
  -webkit-perspective: 800px;
}
.flippable {
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
}
.flipped .flippable {
  position: relative;
  -webkit-transform: rotateY(180deg);
}
.flippable-content {
  -webkit-backface-visibility: hidden;
}
.flippable-content.front {
  position: relative;
  -webkit-transform: rotateY(0deg);
  z-index: 10;
}
.flipped .flippable-content.front {
  position: absolute;
  top: 0px;
}
.flippable-content.back {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: rotateY(-180deg);
}
.flipped .flippable-content.back {
  position: relative;
}
/*.loading {

	.spinner {
	
		position: absolute;
		top: 50%;
		left: 50%;
		
		width: 50px;
		height: 50px;
		margin-left: -26px;
		margin-top: -26px;
		
		//.box-shadow(inset 0 1px 0 fade(@white, 80%), 0 1px fade(@white, 60%));
		
		.spinner-inner {
		
			position: relative;
		
			width: 32px;
			height: 32px;
			margin: 9px;
		
			background-position: center center;
			background-repeat: no-repeat;
			
			-webkit-transform: translate3d();
		
		}
		
		span {
		
			position: absolute;
			left: 16px;
			top: 0px;
		
			display: block;
			width: 2px;
			height: 8px;
			opacity: 0.1;
			
			background-color: gray;
			
			border-radius: 2px;
			
			-webkit-transform-origin: center 16px;
			.spinner-mixin(0);
			
			-webkit-animation: spinner-span-anim 1s ease-in-out 0s infinite;
		
		}
	
	}

}

.spinner-mixin(@i) when (@i < 12) {
		@n: @i + 2;
    &:nth-child(@n) {
        -webkit-transform: rotate((@i + 1)*30deg);
        -webkit-animation-delay: (@i + 1)*1/12s;
    }
    .spinner-mixin(@i+1);  // recurse
}

.spinner-mixin(@i) {
    // fallback to "break" the loop and avoid errors for no-match
}

@-webkit-keyframes spinner-span-anim {

	0% { opacity: 1; }
	
	100% { opacity: 0.1; }

}*/
.loading-screen {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  -webkit-transform: translate3d(0, 0, 0);
}
.loading-screen .icon-rays {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 400px;
  height: 400px;
  -webkit-mask-image: url("../img/loading-mask.png");
  -webkit-mask-size: 100% 100%;
  -webkit-animation: loading-ray-anim 6s linear 0s infinite;
}
.loading-screen .ray-color {
  width: 100%;
  height: 100%;
  background-image: url("../img/color-wheel-no-white.png");
  background-size: cover;
  -webkit-animation: loading-color-anim 6s linear 0s infinite;
}
.loading-screen .icon-overlay {
  position: absolute;
  left: -28.5px;
  top: -28.5px;
  width: 57px;
  height: 57px;
  border-radius: 9px;
}
.loading-screen .icon-overlay::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
.main-controls {
  text-align: center;
}
.main-controls {
  position: relative;
}
.main-controls .btn,
.main-controls .flippable-content {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  color: #808080;
  text-shadow: 0 -1px #000000;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background: #4d4d4d;
  background-image: -webkit-linear-gradient(-90deg, #2e2e2e 0%, #242424 48%, #1f1f1f 52%, #1a1a1a 86%, #242424 100%);
  border: 1px solid #0d0d0d;
  border-radius: 8px;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1), inset 0 1px 0px rgba(255, 255, 255, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.1);
}
.main-controls .btn-flip {
  width: 40px;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  -webkit-perspective: 100px;
}
.flipped .main-controls .btn-flip .flippable {
  position: relative;
  -webkit-transform: rotateY(-180deg);
}
.main-controls .flippable-content {
  width: 100%;
}
.main-controls .flippable-content.back {
  -webkit-transform: rotateY(180deg);
}
.btn-picker-switcher {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.btn [class^="icon-"]:before {
  margin-left: 1px;
  vertical-align: -1px;
}
.icon-white {
  color: white;
}
@-webkit-keyframes loading-ray-anim {
  0% {
    -webkit-transform: scale(0.4) rotate(360deg);
  }
  10% {
    -webkit-transform: scale(0.5) rotate(324deg);
  }
  40% {
    -webkit-transform: scale(0.9) rotate(216deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(180deg);
  }
  60% {
    -webkit-transform: scale(0.9) rotate(144deg);
  }
  90% {
    -webkit-transform: scale(0.5) rotate(36deg);
  }
  100% {
    -webkit-transform: scale(0.4) rotate(0deg);
  }
}
@-webkit-keyframes loading-color-anim {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(80deg);
  }
  30% {
    -webkit-transform: rotate(100deg);
  }
  40% {
    -webkit-transform: rotate(140deg);
  }
  50% {
    -webkit-transform: rotate(200deg);
  }
  60% {
    -webkit-transform: rotate(220deg);
  }
  70% {
    -webkit-transform: rotate(270deg);
  }
  80% {
    -webkit-transform: rotate(290deg);
  }
  90% {
    -webkit-transform: rotate(300deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
.tab-wrapper {
  -webkit-transition: opacity 0.2s ease-in-out;
}
.loading .tab-wrapper {
  opacity: 0;
}
.tab {
  padding: 20px 20px 0;
}
.tab-flippable {
  padding: 0;
}
.tab-flip-container {
  padding: 0;
  background: #000000;
}
.tab-flippable-content {
  padding: 20px 20px 0;
  background: url('../img/bg-noise@2x.png'), -webkit-linear-gradient(top, #333333, #1a1a1a);
}
.btn-tab-flip {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  border: none;
  -webkit-perspective: 100px;
}
.btn-tab-flip .flippable {
  width: 40px;
  height: 40px;
  font-weight: bold;
  color: #404040;
  background-color: #262626;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.1), inset 0px 1px 0 rgba(0, 0, 0, 0.2);
}
.btn-tab-flip .flippable-content {
  width: 20px;
  height: 20px;
  padding: 10px;
  line-height: 20px;
}
.btn-tab-flip .flippable-content.back {
  -webkit-transform: rotateY(180deg);
}
.btn-tab-flip.flipped .flippable {
  position: relative;
  -webkit-transform: rotateY(-180deg);
}
.tab-bar {
  -webkit-box-flex: 0;
  height: 48px;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #1a1a1a, #0d0d0d 50%, #050505 50%, #0a0a0a);
  border-top: 1px solid black;
  box-shadow: inset 0 1px 0 #333333;
}
.loading .tab-bar {
  opacity: 0;
}
.tab-bar-item {
  display: inline-block;
  width: 64px;
  height: 100%;
  color: #4d4d4d;
  background: none;
  border: none;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1);
}
.tab-bar-item:last-child {
  border-left: none;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1), 1px 0 0 rgba(255, 255, 255, 0.1);
}
.wheel-container {
  position: relative;
}
.wheel {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 300px;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5), inset 0 30px 30px -20px rgba(0, 0, 0, 0.4), inset 0 20px 20px -15px rgba(0, 0, 0, 0.7), inset 0 0 10px rgba(0, 0, 0, 0.2);
}
.wheel img {
  position: relative;
  border-radius: 300px;
  width: 100%;
  height: auto;
}
.wheel::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#262626));
  border: 2px solid #1a1a1a;
  border-radius: 310px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.7);
}
.picker {
  z-index: 10;
  position: absolute;
  top: 10px;
  width: 80px;
  height: 80px;
  margin-right: -40px;
  background-color: black;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
  border: 4px #333333 solid;
  border-radius: 60px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 -1px 2px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.8), 0 -1px #cccccc, 0 1px #666666;
  -webkit-transition: width 0.1s ease-in-out;
  -webkit-transition-property: margin, width, height;
}
.picker.picking {
  margin-left: -10px;
  margin-top: -10px;
  width: 100px;
  height: 100px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 -1px 2px rgba(0, 0, 0, 0.1), 0 15px 20px rgba(0, 0, 0, 0.6), 0 -1px #cccccc, 0 1px #666666;
}
.value-slider {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  background: -webkit-linear-gradient(left, #333333, #cccccc);
  border: 1px solid #0d0d0d;
  border-radius: 20px;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.2), 0 -1px 1px rgba(255, 255, 255, 0.05), inset 0 1px 1px 1px rgba(0, 0, 0, 0.4), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.value-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  background: #4d4d4d;
  background-image: -webkit-linear-gradient(-90deg, #4d4d4d 0%, #404040 48%, #3b3b3b 52%, #2e2e2e 86%, #383838 100%);
  border: 1px solid #0d0d0d;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8), inset 0 1px 0px rgba(255, 255, 255, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.2);
}
.favorite-color-item {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 61px;
  height: 61px;
  margin-bottom: 12px;
  margin-right: 12px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
  border: 4px solid #333333;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #0d0d0d, 0 1px 0 1px rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
}
.favorite-color-item:nth-child(4n) {
  margin-right: 0;
}
.favorite-color-item.active {
  border-color: #ffffff;
}
.favorite-color-item-pick-btn {
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  padding: 0;
  background: none;
  border: none;
}
.favorite-color-item-remove-btn {
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  padding: 0;
  line-height: 21px;
  background: black;
  border: 2px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  -webkit-animation: remove-btn-in 0.1s ease-out backwards;
}
.favorite-colors:not(.editing) .favorite-color-item-remove-btn {
  display: none;
}
@-webkit-keyframes remove-btn-in {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
.emulator-display {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  z-index: 100;
}
